.hover-btn {
    background-color: black;
    color: #fff;
    text-decoration: none;
    border-width:0px;
    border-color:transparent;
    box-shadow :none;
    border-style:none;
    &:hover {
        background-color: #fff;
        color: black;
        text-decoration: none;
        border-width:0px;
        border-color:transparent;
        box-shadow :none;
        border-style:none;
    }
}
