.top-buffer {
  margin-top: 20px;
}

.container-custom-margen {
  margin: 4rem;
}

.nav-link:hover {
  transition: all 0.4s;
}

.nav-link-collapse:after {
  float: right;
  font-family: "FontAwesome";
}

.nav-link-show:after {
  float: right;
  font-family: "FontAwesome";
}

.nav-item ul.nav-second-level {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nav-item ul.nav-second-level > .nav-item {
  padding-left: 20px;
  padding-bottom: 4.5rem;
}

@media (min-width: 992px) {
  .sidenav {
    position: absolute;
    width: 16.5%;
    height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
  }

  .navbar-expand-lg .sidenav {
    flex-direction: column !important;
  }

  .content-wrapper {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 16.5%;
  }
}
@media (max-width: 992px) {
  #app-box-model {
    padding-top: 3.5rem;
  }
}
/* Carousel base class
-------------------------------------------------- */
.carousel {
  margin-bottom: 3rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  height: 32rem;
}

/* RESPONSIVE CSS FOR Carousel
-------------------------------------------------- */
@media (max-width: 992px) {
  .carousel {
    margin-bottom: 3rem;
  }
}
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373 !important;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 992px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }

  .site-footer .copyright-text,
.site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.github:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
.f2-copyright-text a {
  color: white;
}

.hover-btn {
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-width: 0px;
  border-color: transparent;
  box-shadow: none;
  border-style: none;
}
.hover-btn:hover {
  background-color: #fff;
  color: black;
  text-decoration: none;
  border-width: 0px;
  border-color: transparent;
  box-shadow: none;
  border-style: none;
}

.gap100 {
  padding: 70px 0px;
  margin: auto;
  display: block;
}

#gap {
  background-repeat: no-repeat;
  background-image: var(--gap-image);
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
}

#about-text h1,
#about-text p {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.brand-wrapper {
  padding-top: 7px;
  padding-bottom: 8px;
}
.brand-wrapper .logo {
  height: 25px;
}

.login-section-wrapper {
  display: flex;
  flex-direction: column;
  padding: 68px 100px;
  background-color: #fff;
}
@media (max-width: 991px) {
  .login-section-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 575px) {
  .login-section-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100vh;
  }
}
.login-wrapper {
  width: 100%;
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (max-width: 575px) {
  .login-wrapper {
    width: 100%;
  }
}
.login-wrapper label {
  font-size: 14px;
  font-weight: bold;
  color: #b0adad;
}
.login-wrapper .form-control {
  border: none;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0;
  padding: 9px 5px;
  min-height: 40px;
  font-size: 18px;
  font-weight: normal;
}
.login-wrapper .form-control::-moz-placeholder {
  color: #b0adad;
}
.login-wrapper .form-control:-ms-input-placeholder {
  color: #b0adad;
}
.login-wrapper .form-control::placeholder {
  color: #b0adad;
}
.login-wrapper .login-btn {
  padding: 13px 20px;
  background-color: black;
  border-radius: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 14px;
  width: 100%;
}
.login-wrapper .login-btn:hover {
  border: 1px solid black;
  background-color: #fff;
  color: black;
}
.login-wrapper label.remember-me {
  font-size: 16px;
  color: #000;
  margin-bottom: 0;
}
.login-wrapper-footer-text {
  font-size: 16px;
  color: #000;
  margin-bottom: 0;
}
.login-title {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  margin-bottom: 25px;
}
.login-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

/* category-card CONTENT
-------------------------------------------------- */
@media (min-width: 992px) {
  #category-card {
    margin-bottom: 4rem;
    margin-right: 4rem !important;
    margin-left: 4rem !important;
  }
}
/*------------------------------------------------
--------------------------------------------------
-------------------------------------------------- */
/* categories CONTENT
-------------------------------------------------- */
#categories {
  margin-right: 1em;
  margin-left: 1em;
}
#categories .category {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
}
#categories .category .category-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
#categories .category:hover .category-overlay {
  opacity: 1;
}
#categories .category-image {
  width: 100%;
  text-align: center;
  color: white;
}
#categories img {
  box-shadow: 1px 1px 5px 1px rgba(145, 139, 139, 0.03);
}
#categories .category-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}
#categories .category:hover .category-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}
#categories .category-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
#categories .fadeIn-bottom {
  top: 80%;
}

.category-header {
  margin: 2% 0px;
}

h2.display-4 {
  font-weight: initial;
}
@media (min-width: 1200px) {
  h2.display-4 {
    font-size: 1.2vw;
  }
}
